
header{
    background-color: aliceblue;
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-div{
    display: flex;
    
}
.nav-a{
    color: red;
    margin-left:0.5cm ;
}
span{
    color: blue;
    font-weight: 500;
    font-size: larger;
}
.start{
    background-image: url(programmer.jpg);
    background-repeat: no-repeat;
    padding: 300px;
    align-items: start;
}
#fa-fa-youtube-play{
    width: 10px;
    height: 10px;
    color: red;
    margin-right: 1cm;
    }
    #fa-fa-instagram{
        width: 10px;
    height: 10px;
    color: blueviolet;
    margin-right: 1cm;
    }
    #fa-fa-facebook{
        width: 10px;
        height: 10px;
        color: blue;
        margin-right: 1cm;
    }