/* قاعدة نمط عامة */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* تصغير حجم النص للمحافظة على العرض المتجاوب */
span {
    color: blue;
    font-weight: 500;
    font-size: xx-large;
}

header {
    background-color: aliceblue;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-div {
    display: flex;
}

.nav-a {
    color: red;
    margin-left: 0.5cm;
}

/* قسم البداية */
.start {
    display: flex;
    height: 100vh;
    background-image: url(programmer.jpg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#fa-fa-youtube-play,
#fa-fa-instagram,
#fa-fa-facebook {
    width: 20px;
    height: 20px;
    margin-right: 1cm;
}

#fa-fa-youtube-play {
    color: red;
}

#fa-fa-instagram {
    color: blueviolet;
}

#fa-fa-facebook {
    color: blue;
}

/* قسم الصور المعدل */
.photos {
    display: flex;
    flex-wrap: wrap;
    background-color: royalblue;
    margin-top: 1cm;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem;
}

.photo-item {
    flex: 1 1 300px;
    margin: 10px;
    background-color: white;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.photo-item:hover {
    transform: scale(1.05);
}

.photo-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* قسم المهارات */
.skillss {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5cm;
}

.myskills {
    transition: 0.7s ease;
    background-color: white;
    border: blue 5px solid;
    border-radius: 50px;
    width: 300px;
    padding: 20px;
    margin: 1cm;
    align-items: center;
}

.myskills:hover {
    transform: scale(1.1);
}

.skillssphoto {
    margin-bottom: 1cm;
    margin-top: 0.5cm;
    margin-left: 70px;
    width: 100px;
}

/* قسم المشاريع */
.projectss a {
    background-color: blue;
    font-weight: 500;
    font-size: large;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-photo {
    width: 300px;
    height: 210px;
}

#projectss {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, blue, black);
    margin-top: 5cm;
    padding: 2cm;
}

.my-projects {
    width: 100%;
    max-width: 15cm;
    height: auto;
    border: solid black 0.3cm;
    border-radius: 20px;
    text-align: center;
    margin: 1cm;
    color: black;
    background-color: white;
    transition: 0.7s ease;
}

.my-projects:hover {
    transform: scale(1.1);
}

/* قسم الاتصال */
#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-image: linear-gradient(to right, rgb(234, 50, 50), rgb(49, 241, 49), blue);
    padding: 2cm;
}

.contactslogo {
    margin: 1cm;
}

/* استعلامات الوسائط */
@media screen and (max-width: 400px) {
    .start, #projectss, header, #contact, .skillss {
        width: 100%;
        height: auto;
    }

    .my-projects {
        width: 100%;
        height: auto;
        margin: 0.5cm;
    }
    .project-photo{
        width: 100%;
    }
}

@media screen and (min-width: 401px) and (max-width: 700px) {
    .start, #projectss, header, #contact {
        width: 100%;
        height: auto;
    }
}
